//
// VARIABLES
//

// Colors
$lightbeige: #f99d34;
$beige: #f58233;
$black: #2b2b2b;
$orange: #f15931;
$gray: #505050;
$lightgray: #aaa;
$white: #fff;

// Font stacks
$consolashelvetica: Consolas, Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
