//
// VARIABLES
//

// Colors
$lightbrown: #f09c85;
$brown: #933f28;
$black: #2b2b2b;
$orange: #e44f26;
$gray: #505050;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
